.box{ 
  background-color: rgb(55, 163, 199);
    box-shadow: 4px 4px 8px black;
     Padding: 20px; margin-top:50px;
      border-radius: 15px 15px 15px 15px;
       border: 1px; Height: 300px; Width: 250px; margin-right: ; auto; text-align: center; 
}

.website{
display: flex;
justify-content: center;
}
.absende-button{
  margin-top: 0.6em;
  height: 1cm;
  width: 3cm;
}

.java{
  height: 1cm;
  width: 3cm;
}
.quizliste{
  width: 3cm;
  height: 1cm;
  background-color: rgb(55, 163, 199);
}
.img{
  display: flex;
  justify-content: center;
  
}
.backroundcolor{
  
  
}
.button{
  width: 30cm;
  height: 2cm;
  background-color: rgb(55, 163, 199);
}
.button1{
  display: flex;
  justify-content:;
}
